{% extends 'base.html.twig' %}

{% block Title %}Actuality{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-center">
            <div class="col-1"></div>
            <div class="col-10 stories border pt-4 d-flex align-items-center">
                <div>
                    <a href="">
                        <div class="avatar-stories text-center">
                            <img src="{{ asset('assets/img/dogs.jpg') }}">
                        </div>
                    </a>
                    <p class="mt-1">@qqun</p>
                </div>
                <div>
                    <a href="">
                        <div class="avatar-stories">
                            <img src="{{ asset('assets/img/tech.jpg') }}">">
                        </div>
                    </a>
                    <p class="mt-1">@qqun</p>
                </div>
                <div>
                    <a href="">
                        <div class="avatar-stories">
                            <img src="{{ asset('assets/img/tach-1.jpg') }}">
                        </div>
                    </a>
                    <p class="mt-1">@qqun</p>
                </div>
                <div>
                    <a href="">
                        <div class="avatar-stories">
                            <img src="{{ asset('assets/img/tach-2.jpg') }}">
                        </div>
                    </a>
                    <p class="mt-1">@qqun</p>
                </div>
                <div>
                    <a href="">
                        <div class="avatar-stories">
                            <img src="{{ asset('assets/img/tach-3.jpg') }}">
                        </div>
                    </a>
                    <p class="mt-1">@qqun</p>
                </div>
                <div>
                    <a href="">
                        <div class="avatar-stories">
                            <img src="{{ asset('assets/img/tach-4.jpg') }}">
                        </div>
                    </a>
                    <p class="mt-1">@qqun</p>
                </div>
                <div>
                    <a href="">
                        <div class="avatar-stories">
                            <img src="{{ asset('assets/img/tach-1.jpg') }}">
                        </div>
                    </a>
                    <p class="mt-1">@qqun</p>
                </div>
                <div>
                    <a href="">
                        <div class="avatar-stories">
                            <img src="{{ asset('assets/img/tach-3.jpg') }}">
                        </div>
                    </a>
                    <p class="mt-1">@qqun</p>
                </div>
                <div>
                    <a href="">
                        <div class="avatar-stories">
                            <img src="{{ asset('assets/img/tach-3.jpg') }}">
                        </div>
                    </a>
                    <p class="mt-1">@qqun</p>
                </div>
                <div>
                    <a href="">
                        <div class="avatar-stories">
                            <img src="{{ asset('assets/img/tach-4.jpg') }}">
                        </div>
                    </a>
                    <p class="mt-1">@qqun</p>
                </div>

            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 ">
                {% for actu in actuality %}
                    <div class="card-post mb-5 border">
                        <div class="row card-post-@qqun border d-flex align-items-center py-2 bg-white">
                            <div class="col-1">
                                <a href=""><img src="{{ actu.user.avatar }}" width="40px" height="40px"
                                                style="border-radius: 60%;"></a>
                            </div>
                            <div class="col-10">
                                <a href="/profile/{{ actu.user.id }}"
                                   class="font-weight-bold">{{ actu.user.username }}</a>
                            </div>
                            <div class="col-1">
                                <a href="#">
                                    <svg aria-label="Plus d’options" class="_8-yf5 " fill="#262626" height="16"
                                         viewBox="0 0 48 48" width="16">
                                        <circle clip-rule="evenodd" cx="8" cy="24" fill-rule="evenodd" r="4.5"></circle>
                                        <circle clip-rule="evenodd" cx="24" cy="24" fill-rule="evenodd"
                                                r="4.5"></circle>
                                        <circle clip-rule="evenodd" cx="40" cy="24" fill-rule="evenodd"
                                                r="4.5"></circle>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="row card-post-img">
                            <img src="{{ actu.source }}" alt="">
                        </div>
                        <div class="row card-post-body bg-white">
                            <div class="col-12">
                                <div class="float-left">
                                    <ul class="nav">
                                        <li class="nav-item">
                                            <form method="POST" action="{{ path('like') }}">
                                                <input type="text" name="id" value="{{ actu.id }}"
                                                       style="display: none">
                                                <button type="submit" class="nav-link no-btn-style">
                                                    <svg aria-label="J’aime" class="_8-yf5 " fill="#262626" height="24"
                                                         viewBox="0 0 48 48" width="24">
                                                        <path clip-rule="evenodd"
                                                              d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                                                              fill-rule="evenodd"></path>
                                                    </svg>
                                                </button>
                                            </form>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <svg aria-label="Commenter" class="_8-yf5 " fill="#262626" height="24"
                                                     viewBox="0 0 48 48" width="24">
                                                    <path clip-rule="evenodd"
                                                          d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"
                                                          fill-rule="evenodd"></path>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <svg aria-label="Partager la publication"
                                                     class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48"
                                                     width="24">
                                                    <path
                                                            d="M46.5 3.5h-45C.6 3.5.2 4.6.8 5.2l16 15.8 5.5 22.8c.2.9 1.4 1 1.8.3L47.4 5c.4-.7-.1-1.5-.9-1.5zm-40.1 3h33.5L19.1 18c-.4.2-.9.1-1.2-.2L6.4 6.5zm17.7 31.8l-4-16.6c-.1-.4.1-.9.5-1.1L41.5 9 24.1 38.3z">
                                                    </path>
                                                    <path d="M14.7 48.4l2.9-.7"></path>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="float-right">
                                    <a href="#" class="nav-link">
                                        <svg aria-label="Enregistrer" class="_8-yf5 " fill="#262626"
                                             height="24" viewBox="0 0 48 48" width="24">
                                            <path
                                                    d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 ml-3">
                                <p class="font-weight-bold">{{ actu.likes }} Likes</p>
                            </div>
                            <div class="col-12 ml-3 mb-3">
                                <p>
                                    <span class="font-weight-bold">@{{ actu.user.username }}</span> {{ actu.legend }}
                                    <br>
                                </p>
                                <a class="#" class="text-grey">See comments ...</a>
                            </div>
                            <div class="col-12 ml-3">
                                {% for comment in actu.comments|slice(0, 3) %}
                                    <p class="my-0">
                                        <span class="font-weight-bold">@{{ comment.user.username }}</span> {{ comment.content }}
                                        <span class="float-right mr-5">
                                <svg aria-label="like" class="_8-yf5 " fill="#8e8e8e" height="12" viewBox="0 0 48 48"
                                     width="12">
                                    <path clip-rule="evenodd"
                                          d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z"
                                          fill-rule="evenodd"></path>
                                </svg>
                            </span>
                                    </p>
                                {% endfor %}
                            </div>
                            <div class="col-12 ml-3 mt-4">
                                <small class="text-grey">{{ actu.createdAt|date("m/d/Y") }}</small>
                            </div>
                            <div class="col-12">
                                <hr>
                            </div>
                            <div class="col-12 ml-3 mt-1" style="height:50px">
                                <form class="X7cDz" method="POST" action="{{ path('post-comment') }}">
                                    <input type="text" name="id" value="{{ actu.id }}" style="display: none">
                                    <textarea aria-label="Add comment..." placeholder="Add comment..." class="Ypffh"
                                              autocomplete="off" autocorrect="off" style="height: 18px;"
                                              name="comment"></textarea>
                                    <button class="sqdOP yWX7d y3zKF mr-3" type="submit">Publish</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}
